* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
button {
  cursor: pointer;
}
header {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: white;
  position: relative;
}
.header__logo img {
  width: 10rem;
}
.header__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header__form input {
  width: 14.125rem;
  background: linear-gradient(90deg, #303030 0%, #525252 100%);
  color: white;
  border: none;
  border-radius: 10rem;
  padding: 0.3rem;
  margin-right: 1rem;
}
.header__form button {
  background-color: #747474;
  padding: 0.2rem 0.5rem;
  color: white;
}
.header__form p {
  display: inline;
}
.header__bottom {
  position: absolute;
  bottom: -18px;
  left: 0;
}
