h1 {
  margin: 2rem 0;
  color: #747474;
}
.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tabs .foundation-radios {
  display: none;
}
.form-tabs {
  width: 36rem;
  background-color: #575757;
  color: white;
  padding: 0.7rem 0;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem 2rem 0 0;
  position: relative;
}
.form-tabs label {
  width: 12rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
  z-index: 2;
}
.tab-indicator {
  width: 12rem;
  height: 3rem;
  background-color: white;
  position: absolute;
  left: 0;
  top: -0.4375rem;
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: left ease-in-out 0.3s;
}
.tab-indicator::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* background-color: white; */
  position: absolute;
  left: -25px;
  bottom: 0;
  box-shadow: 10px 10px 0 white;
}
.tab-indicator::after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* background-color: blue; */
  position: absolute;
  right: -25px;
  bottom: 0;
  box-shadow: -10px 10px 0 white;
}
#authorizer:checked ~ .form-tabs .tab-indicator {
  left: 12rem;
}
#regulators:checked ~ .form-tabs .tab-indicator {
  left: 24rem;
}

/* change selected tab color when clicked */
#facility:checked ~ .form-tabs label[for="facility"],
#authorizer:checked ~ .form-tabs label[for="authorizer"],
#regulators:checked ~ .form-tabs label[for="regulators"] {
  color: #747474;
  font-weight: bold;
}
.close-form {
  position: absolute;
  right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}
.form__content .facility-form,
.form__content .authorizer-form,
.form__content .regulators-form {
  display: none;
}

/* show form when a particular tab is clicked */
#facility:checked ~ .form__content div:nth-of-type(1) {
  display: flex;
}
#authorizer:checked ~ .form__content div:nth-of-type(2) {
  display: block;
}
#regulators:checked ~ .form__content div:nth-of-type(3) {
  display: block;
}
.form__content {
  width: 80rem;
  height: 31.25rem;
  background-color: white;
  color: #b8b8b8;
  padding: 2rem;
  font-size: 1.25rem;
  border-radius: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__content .form__control {
  display: flex;
  align-items: center;
}
.facility-form,
.authorizer-form,
.regulators-form {
  margin-top: 2rem;
  width: 80%;
}
.regulators-form__top {
  display: flex;
}
.half-1,
.half-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form__content select,
.form__content input[type="text"],
.form__content input[type="date"],
.form__content input[type="file"] {
  width: 14rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
}

.form__content label {
  margin-right: 1rem;
}
.form__content .rgd-cert {
  position: relative;
}
.form__content .rgd-cert input {
  width: 10rem;
}
.form__content .rgd-cert .some-dot {
  width: 1.2rem;
  height: 1.2rem;
  background-color: white;
  margin: 0 0.5rem;
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
.form__content .rgd-cert .some-dot::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  top: 0.35rem;
  left: 0.35rem;
  background-color: red;
  border-radius: 50%;
}
.form__content .rgd-cert button {
  /* width: 8rem; */
  position: absolute;
  right: -5rem;
  color: white;
}
.form__content #special-notes {
  width: 100%;
  margin-left: 7.5rem;
  align-items: flex-start;
  margin-top: 1rem;
}
.form__content #special-notes textarea {
  width: 70%;
  background-color: #f4f4f4;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}
.pages-nav {
  position: absolute;
  gap: 0.5rem;
  bottom: 1rem;
}
.pages-nav label {
  width: 1rem;
  height: 1rem;
  margin-right: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

#facility:checked ~ .form__content .pages-nav label[for="facility"],
#authorizer:checked ~ .form__content .pages-nav label[for="authorizer"],
#regulators:checked ~ .form__content .pages-nav label[for="regulators"] {
  background-color: #e7d99f;
}
